*{
  background-color: aqua;
  height: 100px;
  box-sizing: border-box;
}

.container {
  margin: 20% 40%;
  position: relative;
  display: flex;
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.container .con-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}
.container .con-right {
  display: flex;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.con-left .upper, .con-left .lower {
  display: flex;
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

.upper .left {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.upper .right {
  display: flex;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.up, .low {
  height: 50%;
  width: 100%;
  border: 1px solid black;
}